body{
    font-family:inherit;
}

h1{
    color: darkblue;
    font-size: 80px;
    font-weight: bold;
}

h2{
    color: darkblue;
    font-size: 50px;
}

.pMayuscula{
    font-size: 29px;
}

.separacion{
    margin-left: 15px;
    margin-right: 15px;
}

.largo{
    color: mediumblue;
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 400px;
}

.btnAzul{
    background-color: mediumblue;
    color: white;
}

.imagen{
    width:659px;
    height: 870px;
}

.letraSchedule{
    margin-top: 100px;
    color: darkblue;
    font-weight: bold;
}

#Delante { 
  background-color: transparent;
  margin-left: 190px;
  position: absolute;
  top: 769px;
  z-index: 100;
  backdrop-filter: blur(100px);
  height: 130px;
  width: 702px;
}

#Atras{
    height: 130px;
    width: 140%;
    background-color: rgba(255, 255, 255, 0.759);
    position: absolute;
    top: 20%;
    z-index: 100;
}

.iconos{
    color: rgb(49,81,207);
    background-color: rgb(213, 219, 219);
    padding-top: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.iconosGrandes{
    background-color: rgb(241, 245, 255);
    padding-top: 11px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
}

.iconosChicos{
    background-color: rgb(213, 219, 219);
    padding-top: 3px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    text-align: center;
}

.DarkBlue{
    color: rgb(31, 62, 114);
}

.t-1{
    font-size: 12px;
}

.t-2{
    font-size: 20px;
}

.t-25{
    font-size: 25px;
}

.DBlue{
    color: darkblue;
}
#Azul{
    color: rgb(52, 84, 210);
}
.logos{
    filter: invert(86%) sepia(3%) saturate(25%) hue-rotate(1deg) brightness(96%) contrast(92%);
}

#AztraZeneca{
    width: 250px;
    height: 125px;
}

#Sinovac{
    margin-top: 40px;
    width: 250px;
    height: 60px;
}

#Pfizer{
    margin-top: 25px;
    width: 225px;
    height: 100px;
}

#Moderna{
    margin-top: 30px;
    width: 250px;
    height: 100px;
}

.fondoAC{
    background-color: rgb(241, 245, 255);
}
